

<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    {% load crispy_forms_tags %}

      
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
      

      <title>Api Root – Excel Parser Service</title>

        
          <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
          <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-tweaks.css' %}"/>
        

        <link rel="stylesheet" type="text/css" href="{% static 'css/prettify.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}"/>
        
      

    
  </head>
  <body class="">

    <div class="wrapper">
      
        <div class="navbar navbar-static-top navbar-inverse"
             role="navigation" aria-label="navbar">
          <div class="container">
            <span>
              
                <a class='navbar-brand' rel="nofollow" href='https://www.django-rest-framework.org/'>
                    Excel Parser Micro-Service
                </a>
              
            </span>
            <ul class="nav navbar-nav pull-right">
            </ul>
          </div>
        </div>
      

      <div class="container">
        
          <ul class="breadcrumb">
            
              
                <li class="active"><a href="/">Api Root</a></li>
              
            
          </ul>
        
        <!-- Content -->
        <div id="content" role="main" aria-label="content">
          

          <div class="region"  aria-label="request form">
          
          
          
            <form id="get-form" class="pull-right">
              <fieldset>
                
                  <div class="btn-group format-selection">
                    <a class="btn btn-primary js-tooltip" href="/" rel="nofollow" title="Make a GET request on the Api Root resource">GET</a>

                    <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      
                        <li>
                          <a class="js-tooltip format-option" href="#" rel="nofollow" title="Make a GET request on the Api Root resource with the format set to `json`">json</a>
                        </li>
                      
                        <li>
                          <a class="js-tooltip format-option" href="#" rel="nofollow" title="Make a GET request on the Api Root resource with the format set to `api`">api</a>
                        </li>
                      
                    </ul>
                  </div>
                
              </fieldset>
            </form>
          

          
            <form class="button-form" action="{% url 'file_upload' %}" data-method="OPTIONS">
              <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the Api Root resource">OPTIONS</button>
            </form>
          

          

        
          </div>

            <div class="content-main" role="main"  aria-label="main content">
              <div class="page-header">
                <h1>Api Root</h1>
              </div>
              <div style="float:left">
                
                  <p>Click JSON DATA to view output  </p>
                
                
              </div>

<div class="tabbable">
                  
                    <ul class="nav nav-tabs form-switcher">
                        <li class="active" >
                        <a name="html-tab" href="#post-object-form" data-toggle="tab">HTML DATA</a>
                      </li>
                        <li >
                        <a name="raw-tab" href="#post-generic-content-form" data-toggle="tab">JSON DATA</a>
                      </li>
                    </ul>
      
                  <div class="well tab-content">
                    
                      <div class="tab-pane active" id="post-object-form">
                        
                          <form  enctype="multipart/form-data" class="form-horizontal" novalidate="">
                            <fieldset>
                              <input type="hidden" name="csrfmiddlewaretoken" value="kKoSaDCFuDwnlQQlcW12W1Czu9dz7Y874BfolZTm7gtyQX1dZGY17VHdYRhSuSK1">
                              
    <div class="form-group ">
  
    <label class="col-sm-2 control-label ">
      Name
    </label>
  

  <div class="col-sm-10">
    <input name="file" class="form-control" type="text" value="Enter File Name">

      
  </div>
</div>

    <div class="form-group ">
    <label class="col-sm-2 control-label "> Sector </label>
  <div class="col-sm-10">
    <input name="sector" class="form-control" type="text" value="">  
  </div>
</div>
    <div class="form-group ">
    <label class="col-sm-2 control-label "> xlsx file </label>
  <div class="col-sm-10">
    <input name="xlsx file" class="form-control" type="file" value="" >   
  </div>
</div>

  


      <div class="form-actions">
     <button class="btn btn-primary js-tooltip" title="" type="Submit"data-original-title="Make a POST request on the Computer List resource">POST</button>
                              </div>
                         
                          </form>
                        
                      </div>
                    

                    <div class="tab-pane" id="post-generic-content-form">
                      



                        <form  class="form-horizontal">
                    

  <div class="form-group">

    {% for file in files %}
      <label for="id__content" class="col-sm-2 control-label">  
       {{file.name }} </label>
   {% endfor %}
    <div class="col-sm-20">
<div class="container">

<h2> Json Excle file output</h2>

  <table class= "table">  
  <thead>
      <tr>

    <tr>
        
  </tr>
</thead>
<tbody>
  
<td> {{ final_data }}</td>
</tbody>
</table>

</div>           
          
        </div><!-- /.content -->
      </div><!-- /.container -->
    </div><!-- ./wrapper -->

    

    
      <script>
        window.drf = {
          csrfHeaderName: "X-CSRFTOKEN",
          csrfToken: "3n4VyYLf7RVBNBXCb9EbEckKucDpoE7RNeVrJk2WKuSMiI8uYTBaP6poYUHILyJL"
        };
      </script>
      <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
      <script src="{% static 'js/ajax-form.js' %}"></script>
      <script src="{% static 'js/csrf.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/prettify-min.js' %}"></script>
      <script src="{% static 'js/default.js' %}"></script>
      <script>
        $(document).ready(function() {
          $('form').ajaxForm();
        });
      </script>
    

  </body>
  
</html>
